body {
  transition: background 0.4s, color 0.4s;
}

.navbar {
  background: white;
}

.hero {
  height: 100vh;
}

body {
  padding-top: 70px;
}

/* Reduce hero height */
.hero {
  min-height: 80vh;
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.section-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.project-card {
  border: none;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* DARK MODE */
.dark-mode {
  background-color: #121212;
  color: #f5f5f5;
}

.dark-mode .navbar {
  background-color: #1e1e1e;
}

.dark-mode .bg-light {
  background-color: #1e1e1e !important;
}

.dark-mode .card {
  background-color: #2a2a2a;
  color: white;
}